.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  /* border-bottom: 1px solid var(--primary-color); */
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 1000;
}
.navLogo h1 {
  text-decoration: underline;
  color: var(--primary-one);
}
.navLinks {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navLinks a {
  font-size: 20px;
}

@media screen and (max-width:700px) {
  .navLogo h1 {
  font-size: 20px;
}
.navLinks a {
  font-size: 12px;
}
}
@media screen and (max-width:700px) {
  .navLogo h1 {
  font-size: 12px;
}
.navLinks a {
  font-size: 9px;
}
}
