@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap");
/* font-family: 'Tektur', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-color: white;
  --primary-one:rgb(235, 235, 235);
  --bg-color: black;
  --bg-one: rgb(31, 31, 31);
}
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
a {
  text-decoration: none !important;
  color: var(--primary-color);
}
a:active {
  color: grey;
}
p {
  color: rgb(240, 237, 237);
}